@{
}
<h1 class="titulo" id="tituloInicio">Gestinar Mascotas</h1>
<div class="contenedorGestionarPersonas">
    <a class="gestionarPersonas" asp-action="registrarMascota" asp-controller="Mascotas">
        <img id="imgGestionarMascotas" src="~/img/huella.png" alt="">
        <span><strong>Registrar Mascota</strong></span>
    </a>
    <a class="gestionarPersonas" asp-action="registrarVacunas" asp-controller="Mascotas">
        <img id="imgGestionarMascotas" src="~/img/vacunas.png" alt="">
        <span><strong>Registrar Vacuna</strong></span>
    </a>
    <a class="gestionarPersonas" asp-action="registrarRaza" asp-controller="Mascotas">
        <img id="imgGestionarMascotas" src="~/img/perro.png" alt="">
        <span><strong>Registrar Raza</strong></span>
    </a>
</div>
<div class="contenedorGestionarPersonas">
    <a class="gestionarPersonas" asp-action="verMascotas" asp-controller="Mascotas">
        <img id="imgGestionarMascotas" src="~/img/refugioDeAnimales.png" alt="">
        <span><strong>Ver Mascotas</strong></span>
    </a>
    <a class="gestionarPersonas" asp-action="registrarEspecie" asp-controller="Mascotas">
        <img id="imgGestionarMascotas" src="~/img/especies.png" alt="">
        <span><strong>Registrar Especie</strong></span>
    </a>
</div>