@{
    ViewData["Title"] = "Pagina Principal";
}

<div id="inicioArriba">
</div>
<div id="inicioTitulo">
    <h1 id="tituloInicio" class="titulo">REFUGIO DE MASCOTAS ANIMALIA</h1>
    <p id="etiquetaInicio" class="etiqueta">Bienvenido: @User.Identity.Name</p>
</div>
<div id="inicioImagenes">
    <img id="inicio1" src="~/img/inicio1.jpg" alt="inicio1">
    <img id="inicio2" src="~/img/inicio2.jpg" alt="inicio2">
</div>