@{
    ViewData["Title"] = "Inicio";
}

<div id="inicioArriba">
    <a class="btn verde" asp-action="IniciarSesion" asp-controller="Invitado">Iniciar Sesion</a>
    <a class="btn azul" asp-action="registrarPersona" asp-controller="Invitado">Registrate</a>
</div>
<div id="inicioTitulo">
    <h1 id="tituloInicio" class="titulo">REFUGIO DE MASCOTAS ANIMALIA</h1>
    <p id="etiquetaInicio" class="etiqueta">¡No compres uno de raza...Adopta uno sin casa!</p>
</div>
<div id="inicioImagenes">
    <img id="inicio1" src="~/img/inicio1.jpg" alt="inicio1">
    <img id="inicio2" src="~/img/inicio2.jpg" alt="inicio2">
</div>


