@{
    ViewData["Title"] = "Quienes Somos";
}
<div id="ubicacionTitulos">
    <h1 class="titulo" id="titulo1Ubicacion">BIENVENIDO</h1>
    <h2 class="titulo" id="titulo2Ubicacion">¿Quienes Somos?</h2>
    <img id="ubicacion1" src="~/img/refugioAnimal.png" alt="ubicacion">
</div>
<div id="ubicacionContenido">
    <p class="etiqueta" id="etiquetaUbicacion">
        Somos una plataforma que facilita la adopción de mascotas al conectar a las personas adecuadas
        en un entorno en línea seguro y fácil de usar.
        el sitio web permite a los usuarios compartir fotos y videos de sus mascotas disponibles,
        lo que ayuda a fomentar la adopción responsable de animales y a crear conciencia sobre el bienestar animal.
    </p>
    <p class="etiqueta" id="etiquetaUbicacion">
        Los usuarios pueden registrarse y crear un perfil para su mascota,
        proporcionando información detallada sobre la misma, como su raza, edad y género.
        Los posibles adoptantes pueden buscar entre las mascotas disponibles y ponerse en contacto directamente 
        con los dueños para obtener más información.
    </p>
</div>