@{
}


<h1 class="titulo" id="tituloInicio">Solicitudes</h1>
<div class="contenedorGestionarPersonas">
    <a class="gestionarPersonas" asp-action="misSolicitudes" asp-controller="Persona">
        <img id="imgGestionarMascotas" src="~/img/gatoCaja.png" alt="">
        <span><strong>Mis solicitudes</strong></span>
    </a>
    <a class="gestionarPersonas" asp-action="GestionarSolicitudes" asp-controller="Persona">
        <img id="imgGestionarMascotas" src="~/img/solicitud.png" alt="">
        <span><strong>Gestion de solicitudes</strong></span>
    </a>
</div>
<div class="contenedorGestionarPersonas">
    <a class="gestionarPersonas" asp-action="misMascotas" asp-controller="Persona">
        <img id="imgGestionarMascotas" src="~/img/perro-delante-de-un-hombre.png" alt="">
        <span><strong>Mis mascotas</strong></span>
    </a>
    <a class="gestionarPersonas" asp-action="GestionarDonaciones" asp-controller="Persona">
        <img id="imgGestionarMascotas" src="~/img/donacion.png" alt="">
        <span><strong>Gestion de donaciones</strong></span>
    </a>
</div>